<html lang="ru">

<head>
    <%- include('partials/header.ejs') %>
    <title>
        NOT FOUND
    </title>
</head>

<body>
<%- include('partials/navbar.ejs') %>
<%- include('partials/scripts.ejs') %>
<center>
    <h1 class="mainLabel"><%= message %></h1>
</center>
<%- include('partials/footer.ejs') %>
</body>

</html>
