<html>
<meta charset="utf-8">

<head>
   <link rel="stylesheet" type="text/css" href="style.css">
   <title>Мои друзья</title>
</head>

<body background="bg.jpg">
   <%- include('partials/navbar.ejs') %>
   <%- include('partials/scripts.ejs') %>
   <center>
      <div style="margin-bottom: 20px">
         <a class="friend-nav-btn" href="/incoming">Входящие заявки
            <span class="reqsCounter"><%=inreqsCounter%></span></a>
         <a class="friend-nav-btn friend-nav-btn-active" href="/friends">Мои друзья</a>
         <a class="friend-nav-btn" href="/outcoming">Исходящие заявки
            <span class="reqsCounter"><%=outreqsCounter%></span></a>
      </div>
      <div id="friend-list">
         <%friends.forEach((elem)=>{%>
         <div class="friend-block">
            <%if (elem.imgStatus) {%>
            <img class="friend-img" src="<%=elem.login%>.jpg">
            <% }else { %>
            <img class="friend-img" src="default.jpg">
            <% } %>
            <div class="friend-datablock">
               <br><a class="friend-login" href="/u/<%=elem.login%>" style="color:<%=elem.color%>;"><%=elem.login%></a>
               <p class="friend-fullname"><%=elem.firstname%> <%=elem.lastname%></p>
               <div class="friend-funcblock">
                  <btn class="small" onclick="delFriend('<%=elem.login%>')">Удалить</btn>
               </div>
            </div>
         </div>
         <br>
         <%})%>
      </div>
   </center>
   <script src="pages/friends.js"></script>
   <%- include('partials/footer.ejs') %>
</body>

</html>
