<html>
<meta charset="utf-8">

<head>
   <link rel="stylesheet" type="text/css" href="style.css">
   <title>Входящие заявки</title>
   <style>
      img {
         float: left;
         margin: 10px;
         border-radius: 120px;
         width: 130px;
         height: 130px;
      }

      div#block {
         height: 150px;
         width: 400px;
         background: rgba(254, 254, 254, 0.6);
         border-radius: 20px;
      }

      div#datablock {
         height: 100px;
         width: 250px;
         float: right;
      }


      p#fullname {
         font: normal 17px 'Arial';
         cursor: default;
      }

      a#login {
         font: bold 20px 'Trebuchet MS';
         cursor: pointer;
         width: auto;
         text-decoration: none;
      }

      .nav-btn {
         cursor: pointer;
         text-decoration: none;
         outline: none;
         display: inline-block;
         width: 140px;
         height: 45px;
         line-height: 45px;
         border-radius: 45px;
         margin: 10px 20px;
         font-family: 'Montserrat', sans-serif;
         font-size: 11px;
         text-transform: uppercase;
         text-align: center;
         letter-spacing: 3px;
         font-weight: 600;
         color: #524f4e;
         background: white;
         box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
         transition: .3s;

      }

      .nav-btn:hover {
         background: #2EE59D;
         box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
         color: white;
         transform: translateY(-7px);
      }
   </style>
</head>

<body background="bg.jpg">
   <%- include('partials/navbar.ejs') %>
   <%- include('partials/scripts.ejs') %>
   <center>
      <div style="margin-bottom: 20px">
         <a class="nav-btn" style="width:auto; padding-left: 5px; padding-right: 5px; background: #2EE59D;
        box-shadow: 0 15px 20px rgba(46,229,157,.4);
        color: white;
        transform: translateY(-7px);"  href="/incoming">Входящие заявки</a>
         <a class="nav-btn" href="/friends">Мои друзья</a>
         <a class="nav-btn" style="width:auto; padding-left: 5px; padding-right: 5px;" href="/outcoming">Исходящие заявки
         <asd style="width: 20px; height: 20px; font-size: 15px; border-radius: 15px; background-color: rgba(0, 230, 168, 1); color: white; "><%=outreqsCounter%></asd></a>
      </div>
      <div id="list" style="display:inline-block">
         <%inreqs.forEach((elem)=>{%>
            <div id = "block">
               <%if (elem.imgStatus) {%>
                  <img src="<%=elem.login%>.jpg">
               <% }else { %>
                  <img src="default.jpg">
               <% } %>
               <div id = "datablock">
                  <br><a id = "login" href = "/u/<%=elem.login%>" style = "color:<%=elem.color%>;"><%=elem.login%></a>
                  <p id = "fullname"><%=elem.firstname%> <%=elem.lastname%></p>
                  <div id = "funcblock">
                     <btn class = "small" onclick="acceptIncomingRequest('<%=elem.login%>')">Принять</btn>
                  </div>
               </div>
            </div>
            <br>
         <%})%>
      </div>
   </center>
   <script src="pages/incoming.js">
   </script>
   <%- include('partials/footer.ejs') %>
</body>

</html>
