<html lang="ru">

<head>
    <%- include('partials/header.ejs') %>
    <title>Исходящие заявки</title>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
    <%- include('partials/scripts.ejs') %>
    <center>
        <div style="margin-bottom: 20px">
            <a class="friend-nav-btn" href="/incoming">Входящие заявки
                <span class="reqsCounter"><%=inreqsCounter%></span></a>
            <a class="friend-nav-btn" href="/friends">Мои друзья</a>
            <a class="friend-nav-btn friend-nav-btn-active" href="/outcoming">Исходящие заявки</a>
        </div>
        <div id="friend-list" style="display:inline-block">
            <%outreqs.forEach((elem)=>{%>
            <div class="friend-block">
                <%if (elem.imgStatus) {%>
                <img class="friend-img" src="">
                <% } else { %>
                <img class="friend-img" src="/userImages/<%=elem.login%>.png">
                <% } %>
                <div class="friend-datablock">
                    <br><a class="friend-login" href="/u/<%=elem.login%>" style="color:<%=elem.color%>;"><%=elem.login%></a>
                    <p class="friend-fullname"><%=elem.firstname%> <%=elem.lastname%></p>
                    <div class="friend-funcblock">
                        <btn class="small" onclick="friendsChanges('<%=elem.login%>', 'request sent')">Отменить</btn>
                    </div>
                </div>
            </div>
            <br>
            <%})%>
        </div>
    </center>
    <script src="/js/friendsFunctions.js"></script>
    <%- include('partials/footer.ejs') %>
</body>

</html>
