<html>

<head>
   <%- include('partials/header.ejs') %>
   <title>Исходящие заявки</title>
   </style>
</head>

<body background="/images/bg.jpg">
   <%- include('partials/navbar.ejs') %>
   <%- include('partials/scripts.ejs') %>
   <center>
      <div style="margin-bottom: 20px">
         <a class="friend-nav-btn" href="/incoming">Входящие заявки
            <span class="reqsCounter"><%=inreqsCounter%></span></a>
         <a class="friend-nav-btn" href="/friends">Мои друзья</a>
         <a class="friend-nav-btn friend-nav-btn-active" href="/outcoming">Исходящие заявки</a>
      </div>
      <div id="friend-list" style="display:inline-block">
         <%outreqs.forEach((elem)=>{%>
         <div class="friend-block">
            <%if (elem.imgStatus) {%>
            <img class="friend-img" src="<%=elem.login%>.jpg">
            <% }else { %>
            <img class="friend-img" src="/images/default.jpg">
            <% } %>
            <div class="friend-datablock">
               <br><a class="friend-login" href="/u/<%=elem.login%>" style="color:<%=elem.color%>;"><%=elem.login%></a>
               <p class="friend-fullname"><%=elem.firstname%> <%=elem.lastname%></p>
               <div class="friend-funcblock">
                  <btn class="small" onclick="cancelOutcomingRequest('<%=elem.login%>')">Отменить</btn>
               </div>
            </div>
         </div>
         <br>
         <%})%>
      </div>
   </center>
   <script src="/js/pages/outcoming.js"></script>
   <%- include('partials/footer.ejs') %>
</body>

</html>
