<html lang="ru">

<head>
    <%- include('partials/header.ejs') %>
    <title>Настройки</title>
</head>

<body>
<%- include('partials/navbar.ejs') %>
<%- include('partials/scripts.ejs') %>
<center>
    <span class="purple">Цвет логина в чате</span><br><br>
    <input type="color" id="color" value="<%= color %>" style="height: 44px">
    <br><br><br>
    <btn class="standard" onclick="save()">Сохранить</btn>
</center>
<script src="/js/pages/settings.js"></script>
<%- include('partials/footer.ejs') %>

</body>

</html>
