
<meta charset="utf-8">
<html>

<head>
   <link rel="stylesheet" type="text/css" href="/style.css">
   <title>
      <%=userLogin%>
   </title>
   <style>
      .friend {
         width: 3em;
         height: 3em;
         border-radius: 1.5em;
         margin-top: 0.4em;
         margin-left: 0.4em;
         margin-right: 0.4em;
      }

      #friends {
         background-color: rgba(248, 249, 255, 0.67);
         border-radius: 0.6em;
         max-width: 15em;
         display: inline-flex;
         flex-wrap: wrap;
         justify-content: space-around;
         margin-bottom: 40px;
      }

      .friendLink {
         text-decoration: none;
         color: #000;
         margin-left: 0.4em;
         margin-right: 0.4em;
      }
   </style>
</head>

<body background="/bg.jpg">
   <%- include('partials/navbar.ejs') %>
   <center>
      <%if (imgStatus) {%>
         <img src="/{{userlogin}}.jpg" style="overflow: hidden; width: 250px; height: 250px; border-radius: 20px;"><br>
      <%} else {%>
         <img src="/default.jpg" style="overflow: hidden; width: 200px; height: 200px; border-radius: 20px;"><br>
      <%}%>
      <br><br>
      <buttons class="buttons" id="button" style="display:none"></buttons>
      <br><br>
      <span style="font: bold 25px 'Trebuchet MS'; color: <%=color%>; background-color: rgba(245,255,233,0.55); border-radius: 7px;"> <%=userLogin%> </span><br><br>
      <span class="green"><%=firstname%> <%=lastname%></span><br><br>
      <span class="green">Возраст: </span><span class="red"><%=age%></span><br><br>
      <span class="green">Пол: </span><span class="red"><%=sex%></span><br><br>
      <!--<span class="green">Друзья:</span><br><br>
      <div id="friends">
         {{#each friends}}
            <a class="friendLink" href="/u/{{login}}">
               {{#if imgStatus}}
                  <img class="friend" src="{{login}}.jpg" title="{{firstname}} {{lastname}}"><br>
               {{else}}
                  <img class="friend" src="default.jpg" title="{{firstname}} {{lastname}}"><br>
               {{/if}}
               <span style="font-size: 0.8em">{{login}}</span>
            </a>
         {{else}}
            <span style="margin: 10px" class="red">Друзей нет</span>
         {{/each}}
      </div>-->
   </center>
   <script src="/pages/user.js"></script>
   <%- include('partials/footer.ejs') %>
</body>

</html>
