
<meta charset="utf-8">
<html>

<head>
   <link rel="stylesheet" type="text/css" href="/style.css">
   <title>
      <%=userLogin%>
   </title>
</head>

<body background="/bg.jpg">
   <%- include('partials/navbar.ejs') %>
   <%- include('partials/scripts.ejs') %>
   <center>
      <%if (imgStatus) {%>
         <img class="user-friend-img" src="/<%=userLogin%>.jpg"><br>
      <%} else {%>
         <img class="user-friend-img" src="/default.jpg"><br>
      <%}%>
      <br><br>
      <%if (userStatus === "default"){%>
         <btn class="standart" onclick="addFriend('<%=userLogin%>')">Добавить в друзья</btn>
      <%} else if (userStatus === "subscriber"){%>
         <btn class="standart" onclick="acceptIncomingRequest('<%=userLogin%>')">Принять заявку</btn>
      <%} else if (userStatus === "request sent"){%>
         <btn class="standart" onclick="cancelOutcomingRequest('<%=userLogin%>')">Отменить заявку</btn>
      <%} else if (userStatus === "friend"){%>
         <btn class="standart" onclick="delFriend('<%=userLogin%>')">Удалить из друзей</btn>
      <%}%>
      <br><br>
      <span class="user-login" style="color: <%=color%>;"> <%=userLogin%> </span><br><br>
      <span class="green"><%=firstname%> <%=lastname%></span><br><br>
      <span class="green">Возраст: </span><span class="red"><%=age%></span><br><br>
      <span class="green">Пол: </span><span class="red"><%=sex%></span><br><br>
      <span class="green">Друзья:</span><br><br>
      <div id="user-friends">
         <%if (friends.length !== 0) {%>
            <%friends.forEach((elem)=>{%>
            <a class="user-friendLink" href="/u/<%=elem.login%>">
               <%if (elem.imgStatus) {%>
                  <img class="user-friend" src="<%=elem.login%>.jpg" title="<%=elem.firstname%> <%=elem.lastname%>"><br>
               <% } else { %>
                  <img class="user-friend" src="/default.jpg" title="<%=elem.firstname%> <%=elem.lastname%>"><br>
               <% } %>
               <span style="font-size: 0.8em"><%=elem.login%></span>
            </a>
            <%})%>
         <%} else {%>
            <span style="margin: 10px" class="red">Друзей нет</span>
         <%}%>
      </div>
   </center>
   <script src="/pages/user.js"></script>
   <%- include('partials/footer.ejs') %>
</body>

</html>
