<html>

<head>
   <%- include('partials/header.ejs') %>
   <title>
      <%=userLogin%>
   </title>
</head>

<body background="/images/bg.jpg">
   <%- include('partials/navbar.ejs') %>
   <%- include('partials/scripts.ejs') %>
   <center>
      <%if (imgStatus) {%>
      <img class="user-img" src="/<%=userLogin%>.jpg"><br>
      <%} else {%>
      <img class="user-img" src="/images/default.jpg"><br>
      <%}%>
      <br><br>
      <%if (userStatus === "default"){%>
      <btn class="standart" onclick="addFriend('<%=userLogin%>')">Добавить в друзья</btn>
      <%} else if (userStatus === "subscriber"){%>
      <btn class="standart" onclick="acceptIncomingRequest('<%=userLogin%>')">Принять заявку</btn>
      <%} else if (userStatus === "request sent"){%>
      <btn class="standart" onclick="cancelOutcomingRequest('<%=userLogin%>')">Отменить заявку</btn>
      <%} else if (userStatus === "friend"){%>
      <btn class="standart" onclick="delFriend('<%=userLogin%>')">Удалить из друзей</btn>
      <%}%>
      <br><br>
      <span class="user-login" style="color: <%=color%>;"> <%=userLogin%> </span><br><br>
      <span class="purple">Статуc: </span>
      <% if (userOnlineStatus === "online") {%>
         <span class="green">Онлайн</span>
      <% } else if (userOnlineStatus === "offline") {%>
         <span class="red">Не в сети</span>
      <% }%>
      <br><br>
      <span class="green"><%=firstname%> <%=lastname%></span><br><br>
      <span class="purple">Возраст: </span><span class="green"><%=age%></span><br><br>
      <span class="purple">Пол: </span><span class="green"><%=sex%></span><br><br>
      <span class="purple">Друзья:</span><br><br>
      <div id="user-friends">
         <%if (friends.length !== 0) {%>
         <%friends.forEach((elem)=>{%>
         <a class="user-friendLink" href="/u/<%=elem.login%>">
            <%if (elem.imgStatus) {%>
            <img class="user-friend" src="<%=elem.login%>.jpg" title="<%=elem.firstname%> <%=elem.lastname%>"><br>
            <% } else { %>
            <img class="user-friend" src="/images/default.jpg" title="<%=elem.firstname%> <%=elem.lastname%>"><br>
            <% } %>
            <span style="font-size: 0.8em"><%=elem.login%></span>
         </a>
         <%})%>
         <%} else {%>
         <span style="margin: 10px" class="red">Друзей нет</span>
         <%}%>
      </div>
   </center>
   <script src="/js/pages/user.js"></script>
   <%- include('partials/footer.ejs') %>
</body>

</html>
